@media only screen and (max-width: 1200px) {
    /* 
    Mobile
    Menu Styles
    */
    #logo {
        float: right;
        width: 75%;
        background-position: right center;
    }

    header {
        position: fixed;
        z-index: 999;
        transition: 0.5s;
    }

    .navbar-nav {
        display: none;
    }

    /* .aside-menu {
        
        width: 25%;
        z-index: 90;
    } */

    .hamburger {
        display: block;
    }

    #content {
        float: left;
        display: block;
        width: 25%;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
    }
    
    .overlay {
        display: none;
        position: fixed;
        /* full screen */
        width: 100vw;
        height: 100vh;
        /* transparent black */
        background: rgba(0, 0, 0, 0.7);
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        opacity: 0;
        /* animate the transition */
        transition: all 0.5s ease-in-out;
    }
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }
    
    #dismiss {
        width: 35px;
        height: 35px;
        position: absolute;
        /* top right corner of the sidebar */
        top: 10px;
        right: 10px;
    }

    .mobile-nav {
        position: relative;
        z-index: 1;
        height: 75px;
        line-height: 75px;
    }

    .mobile-nav::after {
        content: "";
        display: block;
        clear: both;
    }

    .aside {
        position: absolute;
        width: 300px;
        height: 100%;
        background: rgba(80,176,230,.85);
        left: 0;
        top: 0;
        display: none;
        z-index: 90;
    }
    .aside::before {
        content: "";
        display: block;
        height: 67px;
    }
    .aside a {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        border-bottom: 1px solid rgb(248, 245, 245);
    }
    .toggle-wrap {
        background-color: #50B0E6;
        padding: 25px 10px;
        position: relative;
        cursor: pointer;
        float: left;
    
        /*disable selection*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 9ß9;
    }
    .toggle-bar,
    .toggle-bar::before,
    .toggle-bar::after,
    .toggle-wrap.active .toggle-bar,
    .toggle-wrap.active .toggle-bar::before,
    .toggle-wrap.active .toggle-bar::after {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .toggle-bar {
        width: 35px;
        margin: 10px 0;
        position: relative;
        border-top: 4px solid #fff;
        display: block;
    }
    .toggle-bar::before,
    .toggle-bar::after {
        content: "";
        display: block;
        background: #fff;
        height: 4px;
        width: 35px;
        position: absolute;
        top: -16px;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: 13%;
        -webkit-transform-origin: 13%;
        transform-origin: 13%;
    }
    .toggle-bar::after {
        top: 4px;
    }
    .toggle-wrap.active .toggle-bar {
        border-top: 4px solid transparent;
    }
    .toggle-wrap.active .toggle-bar::before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .toggle-wrap.active .toggle-bar::after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        background-position: right center;
    }



    .aside {
        width: 60%;
    }

    .img-scale {
        width: 75%;
    }

    #curriculum-text h1 {
        font-size: 1.5em;
        padding-top: 20px;
    }

    .prev, .next, .mySlides {
        padding: 5px;
    }

    .story-container p {
        max-width: 90%;
    }
}