* {
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

body, html {
    height: 100%; 
    width: 100%;
    position: absolute;
}

a, h1, h2, h3,
h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.p-20 {
    padding: 20px 0;
}

.m-20 {
    margin: 20px 0;
}

.text-17{font-size: 17px;     line-height: 1.75em;}

header {
    background-color: #fff;
    height: 75px;
    /* position: fixed;
    top: 0; */
    width: 100%;
    z-index: 99;
    
}

.fixed-header {
    position: fixed;
    height: 60px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

.fixed-header .navbar-nav,
.fixed-header #logo,
.fixed-header .navbar-nav>li {
    height: 60px;
    transition: all .5s ease;
    /* transform: scale(1, 1); */
}

.hamburger {
    display: none;
}

#logo {
    background-image: url('../images/logo.png');
    background-size: 16em;
    background-repeat: no-repeat;
    background-position: left center;
    float: left;
    /* text-align: right; */
    line-height: 75px;
    width: 20%;
}

#logo a{
    width: 100%;
}

nav {
    float: right;
    width: 80%;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none !important;
}

.navbar {
    min-height: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
}

.navbar-nav {
    float: right;
    display: flex;
}

.navbar-nav>li>a {
    font-size: 13px; 
    border-left: 1px solid rgba(112, 112, 112, .3);
    padding: 0 8px;
    line-height: 75px;
    color: #707070;
}

/* 
    Call
    to Action
*/
.slide img {
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    -o-object-fit: cover;
}

/* img {
    width: 100%;
} */
 
.seal-text {
    padding: 30px 0px;
    vertical-align: middle;
}
/* 
   Curriculum container
*/
.curriculum-container {
    background-image: url("../images/our-curriculum-box.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 3em 0;
    vertical-align: middle;
}

.btn-green{
    background-color: #C0D64B;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    padding: 6px 32px;
}

.text-green{
    font-size: 16px;
    color:#C0D64B;
    margin: 15px 0;
    display: block;
}

#curriculum-text h1 {
    font-size: 3em;
}

#curriculum-text p {
    font-size: 1.25em;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 90%;
}

.mySlides q {
    font-size: 1.25em;
}

/* 
    Slideshow 
*/
.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    padding: 30px 80px;
    text-align: center;
    min-width: 85%;
    max-width: 75%;
    margin: 0 auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot-container {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #B1ABAB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/* 
    Our Story 
*/
.conf-container {
    margin: 3em 0;
}

.story-container{
    background:  url("../images/muffin-box.png") top repeat-x;
    background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 4em 0;
}

.story-container h1{
    font-size: 34px;
    padding: 20px 0;

}

.story-container p{
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 55%;
    line-height: 1.5em;
}


/* 
    Footer
*/
footer {
    background-color: #AEAEAE;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    padding: 30px 0;
}

.fix-width {
	width: 600px;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.hs-container{
    width: 700px;
	margin-bottom: 0;
	max-width: none;
	padding: 0 2.5em;
}

.hs-container img {
    width: 90px;
    min-width: 90px;
	object-fit: cover;
}

.dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .megamenu {
    position: static;
  }
  .megamenu .dropdown-menu {
    border: none;
  }

  .container-fluid {
      width: 100%;
    margin: 0;
    padding: 0;
  }
  .container-fluid .row {
    margin: 0;
    padding: 0;
  }

.img-contain {
	/* float: left; */
	display: inline-block;
	width: 15%;
	text-align: center;

}